* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: small;
  /* font-weight: thin;
} */
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
#outer-container {
  border: 3px solid black;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 110px;
  width: 30%;
  justify-content: center;
  /* padding: 10px; */
}
#inner-container {
  margin: 30px;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  /* padding: 18px; */
  gap: 12px;
}
#heading-name {
  font-weight: 100;
  font-size: large;
  margin-top: 12px;
}

.green-heading {
  color: rgb(23, 139, 23);
}

.blue-heading {
  color: rgb(36, 101, 179);
}

nav{
  display: inline-block;
  text-decoration: none;
}